@import "tailwindcss";
@import "tw-animate-css";

body {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: black;
  color: white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
